<!DOCTYPE html>
<html>
<head>
	<title>SOLDIER'S BAY</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--bootstrap include-->
		<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/cont.css">
	  <link rel="stylesheet" type="text/css" href="../css/abt.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 		<link rel="icon" type="image/jpg" href="..\myimage\images.png">
		   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--Javascript for Google Map-->
</head>
<body>
<!--navbar starts here!--> 
				<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a href="index.php"><span style="color:red; font-size:30px;  font-family:serif;">SOLDIER'S</span><span style="font-family:serif; color:white;"> BAY</span>	</a></li><!--used inline css-->
					
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.php">HOME</a></li>
        <li><a href="about.html">ABOUT US</a></li>
        <li><a href="anonymous.html">ANONYMOUS HELP</a></li>
		 <li><a href="contact.html">CONTACT US</a></li>
        <li><a href="loginform.php"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
		 <li><a href="create.html"><span class="glyphicon glyphicon-user"></span> SIGNUP</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
<form class="navbar-form navbar-right" action="https://google.com">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>
	  </ul>
    </div>
  </div>
</nav>
  
			<!--navbar ends here-->
				<div class="container-fluid">
						<div id="cont">
							<img src="../myimage/join3.jpg" class="img-responsive">
							
							<center>
							<h1>ABOUT US</h1></center><br><br>
							<div class="abt">
								<div>
									<div id="abt-left">
										 <img src="../myimage/cont.jpg">
										</div>

										<div id="abt-right">
											<h2>HOW CAN YOU HELP!!</h2><p>
												
            Soldiers' Bay has many wonderful programs to support our military families, deployed service members, wounded service members and veterans. Our programs are broken into categories based on the population they serve. Soldiers' Bay offers programs for wounded, deployed, families, and others. Most of our programs could not be possible without the support of the wonderful Angels who dedicate their time, money and talents, to the organization.

											</p>
										</div>
									</div>
									
									<div>
										<div id="abt2-left">
										<h2>DONATE</h2><p>
											   Conceived the idea for genral public to donate money to the families of the martyrs of central paramilitary forces who get killed in the line of duty in Naxal affected areas, Jammu and Kashmir and other parts of the country. We discussed the idea with Our Mentors, who then initiated the plan with a team of expert.On Sunday, while celebrating CRPF Valour Day, a web portal called 'SOLDIER'S BAY' , where people can donate money to family of a martyred jawan.Addressing thousands of jawans and top brass of all central paramilitary forces (CRPF, CISF, BSF, ITBP, SSB and others), said that some youths of the country get distracted and choose the path of terrorism but they don't realise that they have very few (terrorist leaders') supporters. "Our Jawans fight them with all their heart and do good work. We need the support of 1.25 billion people to do the good work," the national award winning actor said
										</p>
									</div>
									<div id="abt2-right">
										<img src="../myimage/armed.jpg">
									</div>
								</div>
								<div>
									<div id="abt3-left">
										<img src="../myimage/join3.jpg">
									</div>
									<div id="abt3-right">
										<h2>BEING A SOLDIER</h2><p>
											As a Soldier in the Indian Army, you're tasked with upholding the Constitution and protecting Indian's freedoms. But it's not always work — Soldiers have free time just like everyone else to spend with friends and family, or take part in sports or hobbies. Soldiers continually strengthen themselves mentally and physically through Ongoing Training. And most important — Soldiers live the Seven Core Army Values every daY.
										</p>

                                </div>
                            </div>
                        </div>
				
							<div class="clearfix"></div>
						<div id="news">
							<div class="col-sm-4">
								<div id="per">
							<h3>Subscribe to our Newsletter</h3>
								</div>
							</div>
							<div class="col-sm-8">
								<div id="sub"> 
									<form method="post" action="#">
							<input type="email" name="email" placeholder="Enter Your Email" required="">
							<input type="submit" name="btn" value="Submit">
									</form>
								</div>
							</div>
						</div>
					</div>
				<!--footer-->
					<div id="footer">
					<div id="footer-1">
			<div class="col-md-4">
				<ul>
					<li><a href="#">ABOUT</a></li>
					<li><a href="#">462023 Bhopal.Madhya pradesh </a></li>
					<li><a href="#">+91 7805046767 OR +91 8770913986</a></li>
					<li><a href="#">contactsoldiersbay@gmail.com</a></li>
					
				</ul>
			</div>

			<div class="col-md-4">
				<ul>
					<li><a href="#">Suscribe</a></li>
					
				</ul>
			</div>

			

			<div class="clearfix"></div>

		</div>
	</div>
				<!--footer ended-->
				<!-- Copyright -->
	<div id="copyright">
		<div class="row">
		<div class="col-md-8" id="copy1">
			<p>© 2017 Soldier's Bay. All Rights Reserved | Design by <strong>Yash,Shashank and Sakshi </strong></p>
			<p>Reference by Internet</p>
		</div>
						<div class="col-md-4">
			<div class="icons">
				<ul class="social-icons">
					<li><a href="#" class="facebook" title="Go to Our Facebook Page"><i class="fa fa-facebook-square"></i></a></li>
					<li><a href="#" class="twitter" title="Go to Our Twitter Account"><i class="fa  fa-twitter-square"></i></a></li>
					<li><a href="#" class="googleplus" title="Go to Our Google Plus Account"><i class="fa fa-google-plus-square"></i></a></li>
					<li><a href="#" class="instagram" title="Go to Our Instagram Account"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#" class="youtube" title="Go to Our Youtube Channel"><i class="fa fa-youtube-square"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
	<!--copyright ended-->
		</div>
	</body>
</html>